.notice
%h2 Indiquez l'id de la page
.search-form{ data: { endpoint: FB_ENDPOINT, access_token: FB_ACCESS_TOKEN } }
  = text_field_tag "fb-page-id", "", class: "fb-page-id pull-left"
  = submit_tag "Chercher", class: "submit btn btn-success pull-left"
  .clearfix

.page-data
  %h2 Nom
  .name
  %h2 Nombre de likes
  .likes
  %h2 Description
  .about
  %h2 Categorie
  .category
